# Exclude generated minecraft server stuff,
# include hand crafted server configuration
/bungeecord/*
PluginMetrics/

!banned-ips.json
!banned-players.json
!bukkit.yml
!log4j2.xml
!ops.json
!server.properties
!spigot.yml
!whitelist.json
!config.yml

# logging
*.log.gz
*.log

# jar files
*.jar

# worlds
mc-*/world*

# plugins
mc-*/eula.txt
mc-*/usercache.json
mc-*/version_history.json
*-version.json
tmp/
lastupdate